In [8]:
#%pip install wbgapi

import pandas as pd
import requests
import wbgapi as wb
import io
import matplotlib.pyplot as plt
import openpyxl

In [9]:
settings = {'figure.figsize':(14,4),
            'figure.dpi':144,
            'figure.facecolor':'w',
            'axes.spines.top':False,
            'axes.spines.bottom':False,
            'axes.spines.left':False,
            'axes.spines.right':False,
            'axes.grid':True,
            'grid.linestyle':'--',
            'grid.linewidth':0.5, 
            'figure.constrained_layout.use':True}
plt.rcParams.update(settings)

%config InlineBackend.figure_format = "retina"

In [10]:
#### WHERE TO SAVE DATA'
output = "../output_mo_qt/"
figures = "../figures/"

In [11]:
wb.source.info()

myURL = 'https://thedocs.worldbank.org/en/doc/5d903e848db1d1b83e0ec8f744e55570-0350012021/related/CMO-Historical-Data-Monthly.xlsx'

s = requests.get(myURL).content
xl = pd.ExcelFile(io.BytesIO(s))
xl.sheet_names

data = xl.parse('Monthly Prices',skiprows=4)
data.drop(index=0,inplace=True)
data.drop(columns=["Unnamed: 0"], inplace=True)

data.index = pd.date_range("1960-01-01", periods=data.shape[0], freq="MS")

data = data.loc['1980-01-01':,:]
data_original = data.copy()

# data contains strings
cols1 = data_original.columns
data_original[cols1] = data_original[cols1].apply(pd.to_numeric,errors='coerce')

# barley sorghum bad data
data_original.drop(columns=["Barley","Sorghum"],inplace=True)

data_original.to_csv(output+"commodityprices_mo.csv")

In [12]:
data_original

,"Crude oil, average","Crude oil, Brent","Crude oil, Dubai","Crude oil, WTI","Coal, Australian","Coal, South African **","Natural gas, US","Natural gas, Europe","Liquefied natural gas, Japan",Natural gas index,...,Aluminum,"Iron ore, cfr spot",Copper,Lead,Tin,Nickel,Zinc,Gold,Platinum,Silver
1980-01-01,39.000000,40.000000,38.000000,NaN,32.37,NaN,1.3700,4.220000,5.696227,40.557345,...,2054.860107,28.09,2601.00,1118.00,17013.00,6584.80,774.00,675.31,806.79,38.8756
1980-02-01,37.250000,38.500000,36.000000,NaN,32.37,NaN,1.4200,4.220000,5.696227,41.164513,...,2131.008545,28.09,2918.00,1168.00,17100.40,6978.90,870.00,665.32,882.31,35.2435
1980-03-01,37.000000,38.250000,35.750000,NaN,32.37,NaN,1.4600,4.220000,5.696227,41.650248,...,1978.378906,28.09,2306.00,1121.00,17470.30,6733.80,743.00,553.58,746.54,24.7300
1980-04-01,36.575001,38.150002,35.000000,NaN,39.54,NaN,1.5100,4.220000,5.696227,42.257417,...,1932.455566,28.09,2070.00,969.00,17017.20,6233.30,708.00,517.41,589.06,14.9487
1980-05-01,37.049999,38.500000,35.599998,NaN,40.14,NaN,1.5600,4.220000,5.696227,42.864586,...,1775.803711,28.09,2037.00,772.00,17041.70,6000.80,691.50,513.80,559.65,12.6761
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-06-01,81.205000,82.555000,82.170000,78.89,135.10,105.30,2.5123,10.868978,12.130971,90.397278,...,2497.610000,107.45,9648.17,2147.10,32032.70,17498.01,2809.19,2326.44,985.08,29.5770
2024-07-01,83.258667,85.296000,83.940000,80.54,137.55,105.31,2.0751,10.346819,12.490964,82.849761,...,2349.130000,106.85,9385.31,2106.94,31860.47,16334.88,2777.27,2398.20,978.80,29.7730
2024-08-01,78.121000,80.863000,77.950000,75.55,145.76,106.21,1.9903,12.374598,13.319637,92.021428,...,2343.670000,99.91,8971.96,1994.63,31491.65,16292.12,2714.08,2470.15,945.36,28.5300
2024-09-01,72.424333,74.293000,73.430000,69.55,139.20,106.07,2.2508,11.784259,12.969226,92.140921,...,2449.920000,92.83,9237.48,2000.31,31471.69,16076.74,2837.02,2570.55,966.70,30.1310
2024-10-01,73.970667,75.662000,74.650000,71.60,146.63,106.81,2.2077,12.920133,12.910000,96.977329,...,2595.580000,101.39,9533.99,2034.00,32012.43,16765.80,3105.77,2690.08,998.91,32.4160