In [184]:

import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

%matplotlib inline
from statsmodels.tsa.exponential_smoothing.ets import ETSModel

plt.rcParams["figure.figsize"] = (12, 8)

In [185]:
def x_data():
    x_data = pd.read_csv("../output_mo/combined_mo_data/a0_combinedMonthly_extended_ARIMA.csv", index_col=0)
    first_date = x_data.index[0]

    x_data.index = pd.date_range(first_date, x_data.index[-1], freq='MS').date
    return x_data

### Change quarterly data to monthly using smoothing

In [186]:
def y_data():
    y_data = pd.read_csv("../output_qt/combined_qt_data/a0_combinedQuarterly.csv", index_col=0)['gdp_total'].to_frame()

    first_date = y_data.index[0]
    y_data.index = pd.PeriodIndex(y_data.index, freq='Q')
    y_data['Date'] = y_data.index.to_timestamp()

    # convert to period
    y_data['Date'] = pd.to_datetime(y_data['Date']).dt.to_period('M')
    # set Date as index and resample
    y_data = y_data.set_index('Date').resample('M').interpolate()

    y_data.index = y_data.index.strftime('%Y-%m-%d')
    y_data.index = pd.date_range(first_date, y_data.index[-1], freq='MS').date
    return y_data

In [193]:
regressionData = y_data().merge(x_data(), left_index=True, right_index=True, how='outer')
regressionData.to_csv('../output_mo/regressiondata_mo/regressiondata_mo.csv')

C:\Users\jpark\AppData\Local\Temp\ipykernel_416\1142292460.py:11: FutureWarning: Resampling with a PeriodIndex is deprecated. Cast index to DatetimeIndex before resampling instead.
  y_data = y_data.set_index('Date').resample('M').interpolate()

In [190]:
regressionData

,gdp_total,^AEX,ASML.AS,AIR,ING,WKL.AS,STLA,AD.AS,PHG,^FVX,...,IT,IT.1,ES,ES.1,BE,BE.1,JP,JP.1,US,US.1
1995-01-01,NaN,187.171368,NaN,6.981737,3.254188,NaN,NaN,NaN,3.909096,7.741667,...,14.600000,8.700000,28.7,17.2,12.700000,7.800000,3.100000,3.000000,5.800000,6.6
1995-02-01,NaN,186.834868,NaN,7.055271,3.319502,NaN,NaN,NaN,4.089017,7.357895,...,16.300000,9.000000,28.7,17.1,12.600000,7.700000,3.100000,3.000000,5.500000,6.2
1995-03-01,NaN,179.719088,NaN,6.749854,3.387885,6.580568,NaN,NaN,4.233587,7.037478,...,16.400000,9.200000,28.5,16.7,12.400000,7.500000,3.500000,3.300000,5.400000,5.9
1995-04-01,NaN,184.062915,NaN,6.915175,3.580347,6.756925,NaN,NaN,4.432653,6.845158,...,15.400000,9.300000,27.9,16.5,12.100000,7.300000,3.300000,3.100000,5.500000,5.7
1995-05-01,NaN,193.378887,NaN,7.321505,3.789411,7.071822,NaN,NaN,4.931614,6.406045,...,15.300000,8.100000,27.7,16.3,12.000000,7.100000,3.200000,3.000000,5.300000,5.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-07-01,237780.0,922.418255,908.943052,69.965455,17.756403,152.821127,19.396818,28.498774,26.395000,4.168545,...,5.700000,6.000000,12.5,9.9,5.400000,5.800000,2.600000,2.700000,4.800000,4.3
2024-08-01,NaN,897.660450,802.135631,62.322727,17.227358,150.133394,16.081364,30.002169,29.221364,3.715773,...,5.400000,5.000000,12.6,10.1,5.400000,6.000000,2.400000,2.500000,4.600000,4.2
2024-09-01,NaN,899.795707,727.428330,66.171000,18.145500,154.621429,15.360500,31.001429,30.739500,3.496250,...,6.500000,5.000000,12.6,10.1,5.300000,6.000000,2.100000,2.800000,3.900000,3.9
2024-10-01,NaN,902.570435,697.680157,62.199131,17.227391,156.052173,13.303478,30.690869,31.137391,3.910870,...,7.123410,5.289560,12.6,10.1,5.211373,5.906935,2.174557,2.813335,3.802674,3.9
2024-11-01,NaN,874.314536,628.927268,64.384546,16.173636,158.972726,13.561818,31.841818,26.481818,4.236727,...,6.981628,5.451705,12.6,10.1,5.065679,5.774388,2.280672,2.718097,3.866715,3.9